.first-c {
    border: 1px solid black;
    padding-top: 4%;
}

.sec-c {
    border: 1px solid black;
}

.search-bar {
    margin-bottom: 3%;
    margin-left: 70%;   
}

.bt-list {
    margin-left: 17%;  
}

.bt {
    margin-left: 4px;
    color: white;
    font-size: 15px;
    width: 130px;
}

.bt:hover{
    background-color: #2387b1;
    border-color: #2387b1;
}

.co {
    margin-top: 2%;
    margin-bottom: 2%;
}

.item {
    position: relative;
    text-align:center;
    display: block;
    margin: 10% 3% 3% 3%;
    width: 190px;
    height: 200px;
    background-color: rgb(249, 249, 249);
    padding: 1%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


.price-tag {
    position: absolute;
    top: -5%;
    right: -5%;
    background-color: #17B2F4;
    color: white;
    width: 50px;
    font-size: 15px;
    z-index: 2;
}

.btn-notclicked {
    background-color: #17B2F4;
    border-color: #17B2F4;
}

.btn-clicked {
    background-color: #2387b1;
    border-color: #2387b1;
}

.coco {
    margin-top: 0%;
}
