.cont {
    position: relative;
    left: 40%;
    border: 1px solid black;
    padding: 3%;
    margin-top: 5%;
    font-size: medium;
    width: 450px;
}

.inp {
    width: 100%;
}

.inp2 {
    position: relative;
}

.eye-icon {
    width: 15px;
    position: absolute;
    top:62%;
    right: 13.6%;
}